/** {
    padding: 0 !important;
    margin: 0 !important;
}*/
body {
    height: 100vh;
    padding: 0 !important;
    margin: 0 !important;
}
div {
    /*padding: 0 !important;
    margin: 0 !important;*/
}

#nav-controls {
    /*float: right;*/
    position: absolute;
    right: 25px;
    top: 25px;
}
#GHV-logo {
    float: left;
    display: block;
    width: 100%;
}

#main-options {
    text-align: center;
    margin: 0;
}

#main-options div {
    padding:50px;
}

#main-options h2 {
    /*line-height: 100vh;*/
    /*margin-top: 150px;*/
}

/*#river-category-btn {
    background-color: #b7b7b7;
}

#weather-category-btn {
    background-color: #d7d7d7;
}*/

.enter-btn div {
    border: 1px solid black;
    border-radius: 5px;
    height: 100%;
    width: 50%;
    margin: 0 auto;
    margin-top: 25px;
}

.enter-btn:hover {
    cursor: pointer;
}
/*#enter-btn div {
    height: 250px;
    width: 50%;
}*/

#footer {
    position: absolute;
    bottom: 0;
    left: 0;
}
