* {
    font-family: 'Slabo 27px', serif;
}

h1 { font-size: 40px; }
p { font-size: 24px; }

#side-rail {
    width: 20%;
    min-width: 175px;
    position: fixed;
    left: 0;
    top: 151px;
}
#back-rail {
    width: 20%;
    min-width: 175px;
    position: fixed;
    right: 0;
    top: 151px;
}

#main-content-container {
    width: 70%;
    position: relative;
    margin:0 auto;
}
#main-content {
    padding-left: 50px;
    padding-right: 50px;
}

.img-container {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.9);
    top: 0;
    left: 0;
    display: none;
}

.img-container img {
    display: block;
    margin: 0 auto;
    padding-top: 75px;
}

.img-description {
    font-size: 18px;
    text-align: center;
}

.logo {
    width: 68%;
    display: block;
    margin: 0 16%;
    transition: all 1s;
}

#logo-container {
    min-height: 125px;
}

.small-logo {
    width: 390px;
    margin: 0px;
}

#back-button-container {
    display: inline-block;
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
}

.back-button {
    width: 130px;
}

.menu-container {
    padding-right: 50px;
}

.menu-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%
}

.menu-container ul {
    list-style: none;
}

.menu-container li {
    height: 150px;
    width: 100%;
    border: 1px solid black;
    vertical-align: middle;
    font-size: 36px;
    border-radius: 15px;
    /* color: #fff; */
    border: 5px solid #4c88c3;
    /* border: none; */
    margin-top: 25px;
    background-color: #256fbd;
    color: #FFF;

}

.menu-container li:hover {
    cursor: pointer;
    /*background-color: #bfc8d0;*/
    background-color: #4386a0;
    text-decoration: none;
}

.page-menu-list {
    list-style-type: none;
    margin: 0;
    padding-left: 5px;
}

.page-menu-list li {
    margin: 25px 5px;
    border: 1px solid #00b152;
    width: 75%;
    border-radius: 15px;
    padding: 8px;
    text-align: center;
}
.page-menu-list li:hover {
    background-color: #00b152;
    cursor: pointer;
    color: #FFF;
}

.close-graphic-btn {
    float: right;
    margin-top: -30px;
    margin-right: -30px;
    cursor: pointer;
    color: #000;
    border: 1px solid #AEAEAE;
    background: #a8c0d2;
    font-size: 53px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 28px 15px;
    position: absolute;
    top: 40px;
    left: 11px;
}

.close-graphic-btn:hover {
    background: #0073c6;
}
