

<div id="footer" >
    <div id='disclaimer'>
        &copy;	2016.  This is placeholder for some sort of legal text. Github: <a href='https://github.com/nicholasericksen'>nicholasericksen</a>
    </div>
</div>
