<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {# make sure we always display a proper title: The record's title if there is one, appended with the
           sitename. If there is no title, we append the sitename with the payoff, if there is one. #}
        <title>GHV.App</title>

        <link rel="stylesheet" href="/stylesheets/style.css">
        <link href='https://fonts.googleapis.com/css?family=Titillium+Web' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Noto+Sans:700,700italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

        {% block headincludes %}
        {% endblock headincludes %}
    </head>
    <body>
        {% include 'partials/_header.twig' %}

        <div id="wrapper">

            {% block body %}

                <!-- <div class="row"> -->
                    <!-- <div id="main-content" class="col-md-12"> -->
                        {% block main %}
                        {% endblock main %}
                    <!-- </div> -->
                <!-- </div> -->


            {% endblock body %}

            {% include 'partials/_footer.twig' %}

            {% block bottomincludes %}
            {% endblock bottomincludes %}
        </div>
    </body>
