{% extends 'partials/_master.twig' %}


{% block main %}

    <div class="link-list-container">
        <div class="link-container">
            <a class="link" href="#">NOAA Global Temperature</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Sea Level Graphic</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Forecasting Its Role</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Data Library Track</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Weather Climate</a>
        </div>
    </div>

{% endblock main %}
