{% extends 'partials/_master.twig' %}


{% block main %}

    <div class="link-list-container">
        <div class="link-container">
            <a class="link" href="#">Planting Zone Changes</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">West Nile Migration</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Species Migration</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Polar Bears Habitat Change</a>
        </div>
    </div>

{% endblock main %}
