{% extends 'partials/_master.twig' %}


{% block main %}

<div class="link-list-container">
    <div class="link-container">
        <a class="link" href="#">Habitat</a>
    </div>
    <div class="link-container">
        <a class="link" href="#">Climate</a>
    </div>
    <div class="link-container">
        <a class="link" href="#">Water</a>
    </div>
    <div class="link-container">
        <a class="link" href="#">HRECOS</a>
    </div>
</div>

{% endblock main %}
