{% extends 'partials/_master.twig' %}


{% block main %}

    <div class="link-list-container">
        <div class="link-container">
            <a class="link" href="#">Diminishing Fresh Water</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Rainfall and Drought</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Water Purification</a>
        </div>
        <div class="link-container">
            <a class="link" href="#">Consumption of Water</a>
        </div>
    </div>

{% endblock main %}
