body {
  /*padding: 50px;*/
  height: 100vh;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

#header-content {
    height: 15%;
}

#wrapper{
    height: 85%;
}

.link-list-container {
    height: 95%;
    overflow-y: auto;
}
.link-container {
    /*border: 5px solid black;*/
    border-radius: 15px;
    height: 144px;
    margin: 2% 15%;
    text-align: center;
    padding-top: 20px;
}

.link-container a {
    display: block;
    height: 100%;
    vertical-align: middle;
    font-size: 36px;
    border-radius: 15px;
    box-shadow: 0 10px #27496d;
    color: #fff;
    background-color: #3c6c9c;
    border: none;
    padding-top: 25px;
}

.link-container a:active {
    background-color: #417cb8;
    box-shadow: 0 5px #27496d;
    transform: translateY(5px);
}



.link-container a:hover {
    cursor: pointer;
    /*background-color: #bfc8d0;*/
    background-color: #193f67;
    color: #FFF;
    text-decoration: none;
}

#footer {
    height: 5%;
}

/*a {
  color: #00B7FF;
}*/
