<div class="menu-container">
    <ul>
        {{# each button }}
            <li onclick="renderTemplate('page', {{datasrc}})" class="category-btn">{{title}}</li>
        {{/ each }}
    </ul>
</div>
