<div class="submenu menu-container">
    <ul>
        {{# each buttons }}
            <li onclick="renderTemplate('page', '{{datasrc}}')" class="category-btn">
                <div class="menu-text">{{title}}</div>
            </li>
        {{/ each }}
    </ul>
</div>
